<div id="footer">
	<div class="wmap fc">
		<div class="map">
			<h3>SITE MAP</h3>
			<ul class="fc">
				<li><a href="index.html">Home</a></li>
				<li><a href="aboutus.html">About Us</a></li>
				<li><a href="technology.html">Core Platforms</a></li>
				<li><a href="http://ir.avalon-globocare.com" >Investor Relations</a></li>
				<li><a href="https://ir.avalon-globocare.com/press-releases" >News & Events</a></li>
				<li><a href="contactUs.html">Contact</a></li>
			</ul>
			<div class="h42 ">
				<!-- <div class="cn-box mt20">
					<a href="#" class="cur">ENG</a>
					<a href="#">CHN</a>
				</div> -->
			</div>
			
		</div>
		<div class="logo-v">
			<a href="/"><img src="../static/imgs/logo2.png"></a>
		</div>
	</div>
	<div class="copy-right">
		<p style="margin-bottom:10px;">
		Avalon Globocare Corp., Copyright © 2018 
		</p>
		<p class="lh12">4400 Route 9 South, Suite 3100, <br>
		Freehold, NJ 07728
		</p> 
	</div>
</div>