<div class="header-blank"></div>
<div id="header" class="fc">
  <div class="logo">
  	<a href="index.html">
     <img src="../static/imgs/logo.png"   alt="logo"/> 
    </a>
  </div>
  <div class="nav  ">
  	<ul>
  		<li> 
  			<a href="aboutus.html"  __class="cur">About Us</a>
            <span class="second-nav  hide">
              <span  ><a href="aboutus.html#MISSIONVISION"   >Mission & Vision</a></span>
              <span  ><a href="aboutus.html#CORPORATEHEADQUARTERS"   >Corporate Headquarters </a></span>
              <span><a href="aboutus.html#CORPORATEOVERVIEW">Corporate Overview</a></span>
              <span><a href="aboutus.html#MANAGEMENT">Management</a></span>
              <span><a href="aboutus.html#BOARDOFDIRECTORS">Board of Directors</a></span>
              <span><a href="aboutus.html#CODEOFCONDUCT">Code of Conduct</a>
            </span>
          </span>     
		</li>
  		<li> 
        <a href="technology.html">Core Platforms</a> 
             <span class="second-nav  hide">
          <span>
            <a href="technology.html"   >Exosome Technology</a>
            <!-- <span class="third-nav   ">
              <a href="aboutGT.html">About GT</a>
              <a href="exosome.html">Exosome Technology Ecosystem</a>
            </span> -->
          </span>
          <span><a href="technology.html#AvalonCell">Avalon Cell</a></span>
          <span><a href="technology.html#AvalonRehab">Avalon Rehab</a></span>
          <span><a href="technology.html#HealthcareFacilities">Healthcare Facilities</a></span>
        </span>    
        

      </li>
  		<li> <a href="https://ir.avalon-globocare.com/">Investor Relations</a> </li>
  		<li> <a href="https://ir.avalon-globocare.com/press-releases" >News & Events</a> </li>
  		<li> 
  			<a href="contactUs.html">Contact</a> 
  		</li>
  	</ul>
  </div>
  <span class="	wap-nav-btn   "><var></var><var></var><var></var></span>
</div> 