@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

html, body {
  font-size: 12px;
  font-family: Arial,"PingFang SC",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

fieldset, img {
  border: 0; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

:focus {
  outline: 0; }

address, button, caption, cite, code, dfn, input, optgroup, option, select, textarea, th, var {
  font: inherit; }

del, ins {
  text-decoration: none; }

ol, ul, dl {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

a:hover, a:link, a:visited, a:active {
  text-decoration: none; }

#uuidimg {
  width: 1px;
  height: 1px;
  display: none; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0  1000px white inset; }

input:autofill, textarea:autofill, select:autofill {
  box-shadow: 0 0 0  1000px white inset; }

.fc:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.fc {
  display: inline-block;
  *zoom: 1; }

.fc {
  display: block; }

.fl {
  float: left;
  display: inline; }

.fr {
  float: right; }

.pos_a {
  position: absolute; }

.pos_r {
  position: relative; }

.pos_f {
  position: fixed; }

.hide {
  display: none; }

.show {
  display: block; }

.v-hide {
  visibility: hidden; }

.v-show {
  visibility: visible; }

.table {
  display: table; }

.cell {
  display: table-cell;
  vertical-align: middle; }

.gray333 {
  color: #333; }

.gray666 {
  color: #666; }

.gray9 {
  color: #999; }

.white {
  color: #fff; }

.green {
  color: #96b86a; }

.yellow {
  color: #ef8d1a; }

.blue {
  color: #3b82c4; }

.red {
  color: #F00; }

.orange {
  color: #ec651a; }

.ml5 {
  margin-left: 5px; }

.mr5 {
  margin-right: 5px; }

.mb5 {
  margin-bottom: 5px; }

.mt5 {
  margin-top: 5px; }

.pl5 {
  padding-left: 5px; }

.pr5 {
  padding-right: 5px; }

.pb5 {
  padding-bottom: 5px; }

.pt5 {
  padding-top: 5px; }

.ml10 {
  margin-left: 10px; }

.mr10 {
  margin-right: 10px; }

.mb10 {
  margin-bottom: 10px; }

.mt10 {
  margin-top: 10px; }

.pl10 {
  padding-left: 10px; }

.pr10 {
  padding-right: 10px; }

.pb10 {
  padding-bottom: 10px; }

.pt10 {
  padding-top: 10px; }

.ml15 {
  margin-left: 15px; }

.mr15 {
  margin-right: 15px; }

.mb15 {
  margin-bottom: 15px; }

.mt15 {
  margin-top: 15px; }

.pl15 {
  padding-left: 15px; }

.pr15 {
  padding-right: 15px; }

.pb15 {
  padding-bottom: 15px; }

.pt15 {
  padding-top: 15px; }

.ml20 {
  margin-left: 20px; }

.mr20 {
  margin-right: 20px; }

.mb20 {
  margin-bottom: 20px; }

.mt20 {
  margin-top: 20px; }

.pl20 {
  padding-left: 20px; }

.pr20 {
  padding-right: 20px; }

.pb20 {
  padding-bottom: 20px; }

.pt20 {
  padding-top: 20px; }

.ml25 {
  margin-left: 25px; }

.mr25 {
  margin-right: 25px; }

.mb25 {
  margin-bottom: 25px; }

.mt25 {
  margin-top: 25px; }

.pl25 {
  padding-left: 25px; }

.pr25 {
  padding-right: 25px; }

.pb25 {
  padding-bottom: 25px; }

.pt25 {
  padding-top: 25px; }

.ml30 {
  margin-left: 30px; }

.mr30 {
  margin-right: 30px; }

.mb30 {
  margin-bottom: 30px; }

.mt30 {
  margin-top: 30px; }

.pl30 {
  padding-left: 30px; }

.pr30 {
  padding-right: 30px; }

.pb30 {
  padding-bottom: 30px; }

.pt30 {
  padding-top: 30px; }

.ml35 {
  margin-left: 35px; }

.mr35 {
  margin-right: 35px; }

.mb35 {
  margin-bottom: 35px; }

.mt35 {
  margin-top: 35px; }

.pl35 {
  padding-left: 35px; }

.pr35 {
  padding-right: 35px; }

.pb35 {
  padding-bottom: 35px; }

.pt35 {
  padding-top: 35px; }

.ml40 {
  margin-left: 40px; }

.mr40 {
  margin-right: 40px; }

.mb40 {
  margin-bottom: 40px; }

.mt40 {
  margin-top: 40px; }

.pl40 {
  padding-left: 40px; }

.pr40 {
  padding-right: 40px; }

.pb40 {
  padding-bottom: 40px; }

.pt40 {
  padding-top: 40px; }

.ml45 {
  margin-left: 45px; }

.mr45 {
  margin-right: 45px; }

.mb45 {
  margin-bottom: 45px; }

.mt45 {
  margin-top: 45px; }

.pl45 {
  padding-left: 45px; }

.pr45 {
  padding-right: 45px; }

.pb45 {
  padding-bottom: 45px; }

.pt45 {
  padding-top: 45px; }

.ml50 {
  margin-left: 50px; }

.mr50 {
  margin-right: 50px; }

.mb50 {
  margin-bottom: 50px; }

.mt50 {
  margin-top: 50px; }

.pl50 {
  padding-left: 50px; }

.pr50 {
  padding-right: 50px; }

.pb50 {
  padding-bottom: 50px; }

.pt50 {
  padding-top: 50px; }

.lh24 {
  line-height: 24px; }

.lh28 {
  line-height: 28px; }

.lh32 {
  line-height: 32px; }

.ft12 {
  font-size: 12px; }

.ft14 {
  font-size: 14px; }

.ft16 {
  font-size: 16px; }

.ft18 {
  font-size: 18px; }

.ft20 {
  font-size: 20px; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.taj {
  text-align: justify; }

.fwb {
  font-weight: bold; }

/*# sourceMappingURL=reset.css.map */
