<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>404 ERROR</title>
	<style type="text/css">
		*{margin:0;padding:0;}
		.c{text-align: center;font-size:26px;margin:100px auto;color:#005bab;line-height: 52px;}
		.c h3{font-size:36px;padding-bottom:20px;}
		.c a{ text-decoration: none;font-size:16px;display: inline-block;height:42px;line-height: 42px;width:272px;color:#737373; border:1px solid #005bab;margin-top: 	70px;border-radius:5px;}
		.c a:hover{opacity: .8;}
	</style>
</head>
<body>
	<div class="c">
		<h3>404 ERROR</h3>
		<p>SORRY,THE REQUESTED PAGE <br>
		 WAS NOT FOUND...
		</p>
		<a href="/">RETURN TO THE HOME PAGE</a>
	</div>
</body>
</html>