<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Avalon</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--#include virtual="./common/static.html"-->
	
</head>
<body>
	<!--#include virtual="./common/header.html"-->
 
	
	<div class="main-wrapper  gray-wrapper pb50">
	 	<div class="dir-nav">
	 		<a href="index.html">Home</a>
			<span>/</span>
	 		<a href="technology.html">Core Platforms</a>
	 		<span>/</span>
	 		<a href="technology.html">Exosome Technologies</a>
	 		<span>/</span>
	 		<a href="aboutGT.html">About GT</a>
	 	</div>
	 	<h3 class="ti-bar">ABOUT GT</h3>
	 	<div class="article-wrapper w624">
	 		<p>
	 		GenExosome Technologies Inc. (GT) , a majority-owned subsidiary of AVCO, is a leading biotechnology company focused on the development of exosome-based diagnostic and therapeutic products. The Company was co-founded in the United States with Dr. Yu Zhou, a clinical scientist who has spent more than 10 years on exosome research and clinical utilization of exosomes products.</p> <br>
	        <p>
			Through this subsidiary, AVCO plans to establish leading roles in the fields of “liquid biopsy”, precision medicine and regenerative medicine. We develop exosome-based products and provide customized research services for exosome isolation and exosome bioinformation analysis along with other related services. </p> <br>
			 <p>
			GT’s proprietary Exosome Isolation System has proven to be a cutting-edge technology, as its greatly enhances exosome isolation efficiency and exosome quality. Our innovative technology fosters the translation of exosome laboratory research into clinical advancement. Collaborating with world’s leading industrial and clinical partners, GT develops exosomes based diagnostic and therapeutic products, decode exosome carried bioinformatics and biobank exosome from body fluids. </p> <br>
			 <p> 
			GT has operation in New Jersey, Ohio in the USA and Beijing, Shanghai and Wuhan in China.
			</p> 
			<p style="padding:30px 0;">
				 <a href="#"><img src="../static/imgs/other-logo.png"></a>
			</p>
	 	</div>
	</div>
	<!--#include virtual="./common/footer.html"-->
	<!--#include virtual="./common/script.html"--> 
</body>
</html>
