<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Avalon</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--#include virtual="./common/static.html"-->
   
   <style type="text/css">.header-blank{height: 132px}</style>
</head>
<body>
	<!--#include virtual="./common/header.html"-->
	<div class="main-wrapper  ">
		<div class="contact-banner">
			<div class="w624 fc">
				<div class="img"><img src="../static/imgs/@contact-user.jpg"></div>
				<div class="text">
					<h3 >Corporate Headquarters</h3>
					<p>
						4400 Route 9 South  <br>
						Suite 3100 <br>
						Freehold, NJ 07728
						<br><br>
						<span>Phone:</span> 732-780-4400<br>
						<span>Fax:</span> 732-780-5600<br>
						<span>Email:</span> info@avalon-globocare.com
					</p>
				</div>
			</div>
		</div>
	</div>
	 
	<!--#include virtual="./common/footer.html"-->
	<!--#include virtual="./common/script.html"--> 
</body>
</html>
