<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Avalon</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--#include virtual="./common/static.html"-->
	
</head>
<body>
	<!--#include virtual="./common/header.html"-->
	<div class="gray-wrapper2 exosome-wrapper ">
	 	<div class="dir-nav ">
 			<a href="index.html">Home</a>
			<span>/</span>
	 		<a href="technology.html">Core Platforms</a>
	 		<span>/</span>
	 		<a href="technology.html">Exosome Technologies</a>
	 		<span>/</span>
	 		<a href="exosome.html">Exosome Technology Ecosystem</a>
	 	</div>
	 	<h3 class="ti-bar ">Exosome Technology <br>Ecosystem</h3> 
	 	<div class="w624 pb90 tac">
 			<img  class="img-pc" src="../static/imgs/@core-1.png">
 			<img  class="img-wap" src="../static/imgs/@core-1-wap.png">
 		</div>

	</div>
	<div class="white-wrapper  w624 pt110 ">
 		 <div class="article-two-box mt50 mb50">
 		 	<div class="blue">
 		 		<h3>ACADEMIA</h3>
 		 		<p>
 		 			Customized Research Services to  <br>
					Universites / Hospitals
 		 		</p>
 		 	</div>
	        <p>
	        	Co-Developing research projects  <br> with Institutes/Hospitals
	        </p>
 		 </div>
 		 <div class="tac pb110 img-pc"><img src="../static/imgs/@core-2.png"></div>
 		 <div class="tac pb30 img-wap"><img src="../static/imgs/@core-2-wap.png" style="width:240px;"></div>
 	</div>
	<div class="gray-wrapper2 pb110  pt110 ">
		<div class="w624">
 		<div class="article-two-box mt50 mb50">
 		 	<div class="blue">
 		 		<h3>EXOSOME</h3>
 		 		<h3>PRODUCTS</h3>
 		 		<p> for Research Community </p>
 		 	</div>
	        <p style="padding-top: 23px;">
	        	Revolutionary Patented Isolation Kit
	        </p>
 		 </div>
 		 <div class="tac pb30 pt50 img-pc"><img src="../static/imgs/@core-3.png"></div>
 		 <div class="tac pb30 pt30 img-wap"><img src="../static/imgs/@core-3-wap.png"></div>
 		 <ul class="ul-ioc  v-white fc">
			<li>Exosome Isolation (95% purity)                  
			<li>Serum/Plasma (Exosome/RNA/NGS Kit)
			<li>Exosomal RNA/Protein Extraction        		    
			<li>Exosomal Protein (Detergent Free) 
			<li>Exosomal DNA Extraction                       	
			<li>Exosome TEM-Easy Kit
			<li>Exosome Transfection                            
			<li>Human Exosomes, Normal Serum 
			<li>Cancer Exosomes, Patient Serum          		
			<li>Normal Exosomal RNA (NGS ready 500ng) 
			<li>Cancer Exosomal RNA (NGS ready 500ng) 
	    </ul>
	    <div class="products-box">
	    	<h5>Product Advantages:</h5>
	    	<table class="six-box"  >
	    		<tr>
	    			<td class="bg-zs brl"><img src="../static/imgs/logo-3.jpg"></td>
	    			<td class="bg-sh brr">Current / Other Exosome Extraction Kits</td>
	    		</tr>
	    		<tr>
	    			<td class="brl">Only one or two drops of blood required for sample</td>
	    			<td class="brr">Centrifuge used to remove Exosome Cells</td>
	    		</tr>
	    		<tr>
	    			<td class="brl">97% Purification</td>
	    			<td class="brr">60% to 70% of the cells are damaged during the process, Once separated by centrifuge, the cells need to be purified</td>
	    		</tr>
	    		<tr>
	    			<td class="brl">Patented process requires only a few minutes to isolate and purify exosomes</td>
	    			<td class="brr">Process takes 1 to 2 days</td>
	    		</tr>
	    	</table>
	    </div>
	    <div class="tow-btns fc mt88">
			<a href="javascript:history.back()" class="blank-btn w277 mb0">Back</a>
			<a href="//www.genexo-tech.com" class="blank-btn w277 mb0">www.genexo-tech.com</a>
		</div>
    </div>	
 	</div>

 	<div class="border-btm   "></div>
	<!--#include virtual="./common/footer.html"-->
	<!--#include virtual="./common/script.html"--> 
</body>
</html>
