<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信纳克</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--#include virtual="./common/static.html"-->
</head>
<body>
	<!--#include virtual="./common/header.html"-->
	<div class="main-wrapper"  id="home-page">
		<div class="banner animate   ">
			<div class="text">Advancing Cellular Technologies and Therapeutics...</div>
		</div>
		<div class="news-events-wapper">
			<h3>NEWS / EVENTS</h3>
			<div class="async-news-list"><div class="tac pt50">loadding...</div></div>
			<!-- <div class="one">
				<div class="date">   <date>Mar 19,2018</date></div>
				<div class="description">
					<a href="#">Avalon GloboCare Submits Listing Application for The NASDAQ Capital Market</a>
				</div>
			</div> -->
			 
			<div class="more-3d-wper   ">
				<a href="https://ir.avalon-globocare.com/press-releases"    class="more-btn"></a>
			</div>
		</div>	
	</div>
	<!-- CORE PLATFORMS -->
	<div class="home-core-wrapper">
		<div class="bg-big">
			<h3>CORE PLATFORMS</h3>
			<div class="description lighter">
				Operating through our core platforms,  <br>
				Avalon’s “Technology + Service” ecosystem <br>
				covers the areas of regenerative medicine,<br> 
				cell-based immunotherapy, exosome technology, <br>
				as well as rehabilitation medicine.
			</div>
		</div>
		<div class="blue-row">
			<ul class="ul-4-animate">
				<li><a href="technology.html"><em class="ioc4-0"><var></var></em>Exosome Technologies</a></li>
				<li><a href="technology.html#AvalonCell"><em class="ioc4-1"><var></var></em>Avalon Cell</a></li>
				<li><a href="technology.html#AvalonRehab"><em class="ioc4-2"><var></var></em>Avalon Rehab</a></li>
				<li><a href="technology.html#HealthcareFacility"><em class="ioc4-3"><var></var></em>Healthcare Facility</a></li>
			</ul>
			<span></span>
			<span class="ioc1"></span>
			<span class="ioc2"></span>
		</div>	
	</div>
	<!-- ABOUT US -->
	<div class="about-us-wrapper">
		<h3>ABOUT US</h3>
		<h5><a href="aboutus.html#MISSIONVISION">Mission & Vision</a></h5>
		<ul class="ul-ioc">
			<li><span class="lighter">A premiere</span> healthcare management provider & biotechnology developer</li>
			<li><span  class="lighter">Dedicated to </span>integrating & managing global healthcare resources</li>
			<li><span  class="lighter">Empowering </span>high-impact biomedical innovations</li>
			<li><span  class="lighter">Engaging in </span>bio-venture investment</li>
		</ul>
		<div class="forth-io">
			<a href="aboutus.html#CORPORATEOVERVIEW" class="c1">Corporate Overview</a>
			<a href="aboutus.html#MANAGEMENT" class="c2">Management</a>
			<a href="aboutus.html#CODEOFCONDUCT" class="c3">Code of Conduct</a>
			<a href="aboutus.html#BOARDOFDIRECTORS" class="c4">Board of Directors</a>
		</div>
	</div>
	<!--#include virtual="./common/footer.html"-->
	<!--#include virtual="./common/script.html"--> 

	 <script type="text/javascript">
	 	$(function(){
			randomBannerBg();
			homeBanner();
			//randomRoate();
			randomIocShow();
			asyncNewsList("./data.json"); //新闻列表
		})
	 </script>
	

</body>
</html>
