<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Avalon</title>
   <meta name="description" content="">
   <meta name="author" content="">
   <!--#include virtual="./common/static.html"-->
</head>
<body>
	<!--#include virtual="./common/header.html"-->
	<div class="main-wrapper    pb50">
	 	<h3 class="ti-bar" id="EXOSOMETECHNOLOGY">EXOSOME TECHNOLOGY</h3>
	 	<div class="article-wrapper w624">
	 		<p>
	 		Through the establishment of our subsidiary, “GenExosome Technologies Inc. (GT) 
			(<a href="http://www.genexo-tech.com "  class="blue underline">www.genexo-tech.com </a>)”, as well as collaborations with Weill Cornell Medical College and Memorial Sloan Kettering Cancer Center, AVCO positions to become the foremost developer in the exosome technology domain, with focus in the following unmet diagnostic and therapeutic areas:
			</p> <br>
	        <ul class="ul-ioc " style="width:100%;">
				<li class="gray">Early detection of oral cancer (saliva exosomes) 
				<li class="gray">Early detection of ovarian cancer (plasma exosomes)
				<li class="gray">Early detection of kidney cancer (urine exosomes)
				<li class="gray">Skin regeneration and anti-fibrosis
	        </ul>	
			<p class="pl20">Treatments of degenerative disorders (Alzheimer’s disease, arthritis, osteoporosis.. etc.)</p>
		 
			<div class="tac mt88 mb50"><img src="../static/imgs/other-logo2.png"></div>
		 	<div class="article-wrapper w624">
		 		<p>
		 		 GenExosome Technologies Inc. (GT), a majority-owned subsidiary of AVCO, is a leading biotechnology company focused on the development of exosome-based diagnostic and therapeutic products. The Company was co-founded in the United States with Dr. Yu Zhou, a clinical scientist who has spent more than 10 years on exosome research and clinical utilization of exosomes products. <br><br>

				GT’s proprietary Exosome Isolation System has proven to be a cutting-edge technology, as its greatly enhances exosome isolation efficiency and exosome quality. Our innovative technology fosters the translation of exosome laboratory research into clinical advancement. Collaborating with world’s leading industrial and clinical partners, GT develops exosomes based diagnostic and therapeutic products, decode exosome carried bioinformatics and biobank exosome from body fluids.<br><br>

				GT has operation in New Jersey, Ohio in the USA and Beijing, Shanghai and Wuhan in China.
				</p> 
			 
		 	</div>

			<div class="tow-btns fc mt88">
				<a href="exosome.html" class="blank-btn w540">Learn More About Our Exosome Services Ecosystem</a>
			</div> 
	 	</div>
	</div>
	<div class="blue-wrapper pb50">
			<h3 class="ti-bar" id="AvalonCell">AVALON CELL</h3>
			<div class="article-wrapper w624">
				<div class="fc img-text">
					<p >
						AVCO believes the future of medicine will evolve toward cell-based therapeutics and diagnostics. Our “Avalon Cell” platform focuses on cell-based therapies and technologies with emphasis in the field of in vitro diagnostics, regenerative medicine and cancer immunotherapy.
					</p>
					<img class="fr wap-hidden" src="../static/imgs/@img-1.jpg">
				</div>
				 <div class="fc img-text pt50">
					<img  style="float:left;" src="../static/imgs/@img-2.jpg">
					<p style="float:right;">
						AVCO leverages the clinical expertise of Daopei Medical Group and the strong technical background of our management team, to advance cell technologies globally. We focus on transformative and high-impact cell-based bio-tech opportunities in the U.S.A. and China, and fast track them to clinical development and commercialization worldwide.
					</p>
				</div>
			</div>	
		</div>
		<div class="white-wrapper pb50">
			<h3 class="ti-bar" id="AvalonRehab">AVALON REHAB</h3>
			<div class="article-wrapper w624">
				 <p>
				 	A growing trend in China is in the sector of rehabilitation medicine.  <br><br>

					With our strong capability in integrating global technology and resources in physical medicine
					and rehabilitation, AVCO will position to take a leading role in this area through our “Avalon Rehab” platform: a turnkey, full suite of rehab services including PT, OT, robotic engineering, cybernetics, and clinical nutrition.  <br><br>

					AVCO will also engage in strategic partnership with our institutional clients, building the leading and most authoritative network of integrated physical medicine and rehabilitation, particularly for cancer rehab patients. <br><br>
				 </p>
			</div>	
		</div>
		<div class="pen-bg-wrapper    ">
			<h3 class="ti-bar" id="HealthcareFacilities">HEALTHCARE FACILITY</h3>
			<div class="article-wrapper w624">
				 <p>
				 	Currently includes healthcare property management services, primarily by acquiring and managing healthcare real estate facilities, stem cell banks, and CAP-certified laboratory that will compliment our existing platforms.
				 </p>
			</div>	
		</div>

	<!--#include virtual="./common/footer.html"-->
	<!--#include virtual="./common/script.html"--> 
</body>
</html>
